<div class="gdlr-float-top-player gdlr-item">
    <span class="mejs-offscreen">Audio Player</span>
    <div id="mep_0" class="mejs-container svg gdlr-audio-player mejs-audio" tabindex="0" role="application" aria-label="Audio Player" style="width: 100%; height: 70px;">
        <div class="mejs-inner">
            <div class="mejs-mediaelement">
                <audio class="gdlr-audio-player" preload="auto" style="width: 100%; height: 70px;" src="http://cdn-second.goodlayers.com/musicclub/wp-content/uploads/2014/02/smash-it-up.mp3">
                    <source type="audio/mpeg" src="http://cdn-second.goodlayers.com/musicclub/wp-content/uploads/2014/02/smash-it-up.mp3">
                </audio>
            </div>
            <div class="mejs-layers">
                <div class="mejs-poster mejs-layer" style="display: none; width: 100%; height: 70px;"></div>
            </div>
            <div class="mejs-controls">
                <div class="gdlr-play-control">
                    <div class="gdlr-previous-button">
                        <i class="icon-backward"></i>
                    </div>
                    <div class="mejs-button mejs-playpause-button mejs-play">
                        <i class="icon-play"></i>
                    </div>
                    <div class="gdlr-next-button">
                        <i class="icon-forward"></i>
                    </div>
                </div>
                <div class="mejs-time-rail" style="width: 428px;">
                    <div class="gdlr-top-player-title">Smash It Up // 
                        <span class="gdlr-song-title-info">Facivii - Endless Me</span>
                    </div>
                    <span class="mejs-time-total mejs-time-slider" aria-label="Time Slider" aria-valuemin="0" aria-valuemax="NaN" aria-valuenow="0" aria-valuetext="00:00" role="slider" tabindex="0" style="width: 428px;">
                        <span class="mejs-time-buffering" style="display: none;"></span>
                        <span class="mejs-time-loaded" style="width: 9.60422px;"></span>
                        <span class="mejs-time-current" style="width: 0px;"></span>
                        <span class="mejs-time-handle" style="left: -7px;"></span>
                        <span class="mejs-time-float">
                            <span class="mejs-time-float-current">00:00</span>
                            <span class="mejs-time-float-corner"></span>
                        </span>
                    </span>
                    <div class="gdlr-time-elapse">
                        ( <div class="mejs-time mejs-currenttime-container" role="timer" aria-live="off">
                            <span class="mejs-currenttime">00:00</span>
                        </div>
                        <span class="gdlr-seperator"> / </span>
                        <div class="mejs-time mejs-duration-container">
                            <span class="mejs-duration">04:45</span>
                        </div>)
                    </div>
                    <div class="gdlr-top-player-thumbnail">
                        <img src="http://cdn-second.goodlayers.com/musicclub/wp-content/uploads/2014/02/album-cover-5-150x150.jpg" alt="" width="150" height="150">
                    </div>
                </div>
                <div class="gdlr-top-player-download">
                    <a class="top-player-list" href="#">
                        <i class="icon-list-ul"></i>
                    </a>
                    <a class="top-player-download gdlr-download" target="_blank" href="http://audiojungle.net/item/smash-it-up/2304628">
                        <img src="http://cdn-second.goodlayers.com/musicclub/wp-content/themes/musicclub/images/icon-download.png" alt="icon-download">
                    </a>
                    <a class="top-player-apple" target="_blank" href="http://audiojungle.net/item/smash-it-up/2304628">
                        <img src="http://cdn-second.goodlayers.com/musicclub/wp-content/themes/musicclub/images/icon-apple.png" alt="icon-download">
                    </a>
                    <a class="top-player-amazon" target="_blank" href="http://audiojungle.net/item/smash-it-up/2304628">
                        <img src="http://cdn-second.goodlayers.com/musicclub/wp-content/themes/musicclub/images/icon-amazon.png" alt="icon-download">
                    </a>
                </div>
                <div class="gdlr-volumn-bar">
                    <div class="mejs-button mejs-volume-button mejs-mute">
                        <button type="button" aria-controls="mep_0" title="Mute" aria-label="Mute"></button>
                    </div>
                    <a href="javascript:void(0);" class="mejs-horizontal-volume-slider mejs-mute" aria-label="Volume Slider" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" aria-valuetext="80%" role="slider" tabindex="0">
                        <span class="mejs-offscreen">Use Up/Down Arrow keys to increase or decrease volume.</span>
                        <div class="mejs-horizontal-volume-total"></div>
                        <div class="mejs-horizontal-volume-current" style="width: 64px;"></div>
                        <div class="mejs-horizontal-volume-handle" style="left: 51px;"></div>
                    </a>
                </div>
                <div class="gdlr-hide-float-bar">
                    <i class="icon-remove"></i>
                </div>
            </div>
            <div class="mejs-clear"></div>
        </div>
    </div>
</div>