<div id="videoteca">
    <section class="section-white">
      <div class="container">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://placehold.it/800x400" alt="...">
              <div class="carousel-caption">
                <h2>Heading</h2>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/800x400" alt="...">
              <div class="carousel-caption">
                <h2>Heading</h2>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/800x400" alt="...">
              <div class="carousel-caption">
                <h2>Heading</h2>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </section>
</div>
<!-- fin carousel videos -->


<!-- Carousel principal -->
<div id="banner">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Overlay -->
      <div class="overlay"></div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
                <h1>We are creative</h1>
                <h3>Get start your next awesome project</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button">See all features</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
                <h1>We are smart</h1>
                <h3>Get start your next awesome project</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button">See all features</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
                <h1>We are amazing</h1>
                <h3>Get start your next awesome project</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button">See all features</button>
          </div>
        </div>
      </div>
    </div>
</div>
