/* Style de {{tabla}} */
#upload_link{
text-decoration:none;
}
#upload{
display:none
}
.mt-element-overlay .mt-overlay-6 {
	background: #003f8c none repeat scroll 0 0;
}
.mt-overlay-6 img{
	min-height: 250px;
}
.tab-content{
	width: auto;
}
.portlet-body{
	overflow: hidden;
}
.profile-sidebar-portlet {
	padding: 0 !important;
}
.mt-element-overlay .mt-overlay-6 {
	background: #3598DC none repeat scroll 0 0;
}

